body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #121212;
}
img{
    width: 100%;
    border-radius: 5px;
}
/* ----------------banner section ----------------- */

#banner-section{
    display:flex;
    padding:60px 150px;
    align-items: center;
 
}
.banner-content{
   margin-right:30px ;
}
.banner-heading{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin:0;
    padding:0;
}
.banner-para{
    color: #707070;
    margin:10;
    padding:0;

}
.banner-button button{
    background-color: #FF8A22;
    border: none;
    outline: none;
    padding:15px 25px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 20px;

}
.banner-img{
   /* border-radius: 50px; */
   
}
/*---------------------- donate-today -------------------------*/
#donate-today{
  text-align: center;
  display: flex;
  justify-content: center;
}
.donate-today-content h2{
   font-size: 45px;
}
.donate-today-content p{
    color: #707070;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.donation-money{
    /* display: flex; */
    padding: 20px 0;

}
.donation-money button{
    margin-right: 25px;
    padding:30px 50px;
    color:#FF8A22;
    font-size: 30px;
    outline: none;
    border:1px solid #121212;
    border-radius: 5px;
    font-weight: 700;
}
